* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f1faee;
}
h1 {
  font-size: 3rem;
  font-family: "Teko", sans-serif;
  color: #e63946;
}
p {
  width: min(80%, 30rem);
  text-align: center;
  margin-bottom: 0.6rem;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

#city {
  padding: 1rem 0.4rem;
  width: min(90%, 20rem);
  border-style: none;
  background-color: #e63946;
  font-size: 1.1rem;
  color: #f1faee;
}
